.product-detail{
	display: flex;
    justify-content: center;
}
.product-detail--img{
max-height: 350px;

}
.product-detail--info{
	display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.product-detail--name{
	font-size: 30px;
    font-weight: 600;
}
.product-detail--price{
    font-size: 20px;
    font-weight: 400;
}